.vscode/**
.vscode-test/**
test/**
.gitignore
jsconfig.json
vsc-extension-quickstart.md
.eslintrc
.git/**
.github/**
node_modules/**
src/**
webpack.config.js
.babelrc
.editorconfig
.eslintrc.json
CHANGELOG.md
README.md
*.md
.npmignore
.gitattributes
**/*.map
**/*.ts
tsconfig.json
tslint.json
**/*.spec.js
**/*.test.js
**/test/**
**/tests/**
**/*.d.ts
